.navbar-brand{
    color:grey;
    font-size: 22pt;
    font-weight: 900;
    /* text-decoration: underline crimson; */
    text-shadow: 20px 20px 25px white;
    font-style: italic;
    margin-right: 60px;
}
.navbar-nav, .navbar-nav ul, .navbar-nav li, .navbar-nav a, .navbar-brand{
    height: calc( 22pt + 45px) ;
}
#meme-creator>*{
    text-align: center;
    border:1px solid black;
}